{% load i18n %}
{% if unsubscribe_link or preferences_link or browser_link or enable_archive and use_local_archive %}
<tr>
  <td colspan="2" style="color: #505050;font-family: Helvetica, Arial;font-size: 10px;line-height: 100%; text-align:center;">
      {% if preferences_link %}<a href="{{preferences_link}}">{% trans "Subscription preferences"%}</a>{% endif %}
      {% if unsubscribe_link %}{% if preferences_link %} | {%endif%}<a href="{{unsubscribe_link}}">{% trans "Unsubscribe"%}</a>{% endif %}
      {% if browser_link and enable_sharing or use_local_archive %}{% if unsubscribe_link or preferences_link %} | {%endif%} <a href="{% if use_local_archive %}{{ base_url }}{{ newsletter.get_absolute_url }}{% else %}{{ browser_link }}{% endif %}">{% trans "View in browser"%}</a>{% endif %}
    </td>
</tr>
{% endif %}
