{% if releases %}
{% load djangoplicity_datetime %}
<h3 class="h3" style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 12px;font-weight: bold;line-height: 100%;margin-top: 10px;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">
<a href="{{feed_url}}"><img border="0"  src="{{base_url}}{{MEDIA_URL}}djangoplicity/images/rssicon.png"></a>&nbsp;<a style="color: #285A97;font-size: 12px;font-weight: bold; text-decoration:none;" href="{{base_url}}{% url 'releases_defaultquery' %}">{{org}} Press Release{{ releases|pluralize }}</a>
</h3>

{% for obj in releases %}
<div style="font-family: Helvetica, Arial;font-size: 12px;color:#505050;">
<p style="margin-bottom: 20px;"><a href="{{base_url}}{{obj.get_absolute_url}}"><img border="0" src="{{base_url}}{{MEDIA_URL}}{{ARCHIVE_ROOT}}images/news/{{obj.main_image.id}}.jpg" style="margin-bottom: 5px;"></img></a><br><strong>{{obj.release_date|datetime:"DATE"}}</strong><br /><a href="{{base_url}}{{obj.get_absolute_url}}">{{ obj.title }}{% if obj.subtitle %} &mdash; {{obj.subtitle}}{%endif%}</a></p>
</div>
{% endfor %}
{% endif %}
