*.pyc
*.swp
*.swo

.idea/
/*.egg-info/
.tox/
.env/
db/*
!db/.keep
htmlcov/*
!htmlcov/.keep
local/*
!local/.keep
.coverage
.DS_Store

djangoplicity/actions
djangoplicity/products2
djangoplicity/newsletters
djangoplicity/mailinglists
djangoplicity/blog
djangoplicity/events
djangoplicity/contacts
djangoplicity/customsearch
djangoplicity/visits
