{% extends base_template %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_currency satchmo_category %}
{% load normalize_decimal %}
{% load satchmo_util satchmo_discounts %}
{% load menus %}

{% load djangoplicity_utils djangoplicity_satchmo %}

{% block site_title %} {{ category.translated_name }} | {{ shop_name }} {% endblock %}


{% block extra_header %}
{% if category.meta %}
    <meta name="description" content="{{ category.meta|escape }}">
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ shop_name }}:{% for parent in category.parents %} {{ parent.translated_name }} &raquo;{% endfor %} {{ category.translated_name }}</h1>

<div id="product_category">
{% if category.description %}<p class="product_category_description">{{ category.description }}</p>{% endif %}
{% if category.get_active_children %}
<div style="widhth: 100%; clear: both;">
<table class="archive_normal" width="100%">
{% for list in category.get_active_children|split_list:"3" %}
<tr>{% for category in list %}<td class="imagerow" width="33"><a href="{{ category.get_absolute_url }}"><img src="{{ MEDIA_URL }}images/shopcategories/{{ category.slug }}.png" width="122" alt="{{category.name}}" /></a></td>{% endfor %}</tr>
<tr>{% for category in list %}<td class="titlerow" width="33">{{category.name}}</td>{% endfor %}</tr>
<tr><td colspan='4' class='breaker'></td></tr>
{% endfor %}
</table>
</div>
{% endif %}
{% if products %}
<div style="widhth: 100%; clear: both;">
<table class="archive_normal" width="100%">
{% for list in products|split_list:"3" %}
<tr>{% for product in list %}{% archiveitem product as item %}
<td class="imagerow" width="33">{% if item.resource_thumb %}<a href="{{ product.get_absolute_url }}"><img src="{{ item.resource_thumb.url }}" width="122" alt="{{item.title}}" /></a>{% else %}{% thumbnail product.main_image.picture 122x122 as image %}<a href="{{ product.get_absolute_url }}"><img src="{{image}}" width="122" alt="{{product.name}}" /></a>{% endthumbnail %}{% endif %}</td>{% endarchiveitem %}{% endfor %}
</tr>
<tr>{% for product in list %}{% archiveitem product as item %}
<td class="pricerow"><span class="price" align="right">Price:&nbsp;{{ item.price|currency }}{%if item.free %}<br/><a href="{% url 'free_order_form' %}"><img src="{{MEDIA_URL}}/educators-small.png" alt="Educators" width="60" /></a>{%endif%}</span></td>{% endarchiveitem %}{% endfor %}
</tr>
<tr class="titlerow">{% for product in list %}{% archiveitem product as item %}
<td class="titlerow">{% if item %}{{item.title}}{% else %}{{product.name}}{% endif %}</td>{% endarchiveitem %}{% endfor %}
</tr>
<tr><td colspan='3' class='breaker'></td></tr>
{% endfor %}
</table>
</div>
{% elif category.get_active_children|length == 0 %}
<br />
<p>Products coming soon, please check this page later!</p>
{% endif %}
{% if sale %}
{% include "product/some_discount_eligible.html" %}
{% endif %}
</div>
{% endblock %}

{% block rightcolumn %}{% include "product/shop_logo.html" %}{% include "product/cart_box.html" %}{% endblock %}
