{% if src %}
{% if url %}<a href="{{ url }}">{% endif %}
    <div
        class="image-frame{% if position %} {{ position }}{% endif %}"
        {% if width %} style="width: {{ width }}"{% endif %}
    >
        <img src="{{ src }}"{% if alt %} alt="{{ alt }}"{% endif %}>
        {% if legend or credit %}
            <div class="legend-wrapper">
            {% if legend %}
                <div class="legend">{{ legend }}</div>
            {% endif %}
            {% if credit %}
                <div class="credit"><strong>Credit:</strong> {{ credit|striptags }}</div>
            {% endif %}
            </div>
        {% endif %}
    </div>
{% if url %}</a>{% endif %}
{% else %}
    <div class="alert alert-danger" role="alert">Missing 'src' in {% templatetag openblock %} static_image_frame {% templatetag closeblock %}</div>
{% endif %}
