{% extends "admin/change_form.html" %}{% load i18n %}
{% load i18n admin_urls admin_modify %}


{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="{% url 'admin_site:send_newsletter_test_view' original.pk %}" class="historylink">{% trans "Send test" %}</a></li>
    {% if not original.send and original.scheduled_status == 'OFF' %}<li><a href="{% url 'admin_site:send_newsletter_view' original.pk %}" class="historylink">{% trans "Send now" %}</a></li>{% endif %}
    {% if not original.send and original.scheduled_status == 'OFF' %}<li><a href="{% url 'admin_site:schedule_newsletter_view' original.pk %}" class="historylink">{% trans "Schedule" %}</a></li>{% endif %}
    {% if not original.send and original.scheduled_status != 'OFF' %}<li><a href="{% url 'admin_site:unschedule_newsletter_view' original.pk %}" class="historylink">{% trans "Cancel schedule" %}</a></li>{% endif %}
    <li><a href="{% url 'admin_site:html_newsletter_view' original.pk %}" class="historylink">{% trans "View HTML" %}</a></li>
    <li><a href="{% url 'admin_site:text_newsletter_view' original.pk %}" class="historylink">{% trans "View text" %}</a></li>
    <li><a href="../displays/" class="historylink" onclick='window.open( "displays/", "displayWindow",
        "status = 1, height = 600, width = 800, resizable = 1" );return false;'>{% trans "Displays" %}</a></li>
    <li><a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}


{% block form_top %}
{% with unpublished_content=original.get_unpublished_content %}
{% if unpublished_content %}
<div style="padding: 15px; color: #a94442; background-color: #f2dede; border: 1px solid #ebccd1; ">
    This newsletter has content which is either unpublished, or with an embargo date *after* the newsletter release date:<br>
    <ul>
    {% for content in unpublished_content %}
        <li>{{ content }}</li>
    {% endfor %}
    </ul>
</div>
<br>
{% endif %}
{% endwith %}
{% if original.type.newsletterfeeddatasource_set.all %}
<div style="padding: 15px; color: #31708f; background-color: #d9edf7; border: 1px solid #bce8f1; ">
    This newsletter contains data fetched from remote sources: {{ original.type.newsletterfeeddatasource_set.all|join:', ' }}.<br>
    To refresh this data use the "Refresh remote feeds" from the <a href="{% url 'admin_site:newsletters_newsletter_changelist' %}">action menu</a>.
</div>
{% endif %}
{% if original.send %}
<fieldset class="module" style="background-color: #dff0d8; color: #3c763d; border: 1px solid #d6e9c6;">
<div class="form-row">
<p>Newsletter was sent on <strong>{{original.send}}</strong> ({{original.send|timesince}} ago).</p>
</div>
</fieldset>
{% else %}{% if original.scheduled_status == 'ON' %}
<fieldset class="module" style="background-color: #fcf8e3; color: #8a6d3b; border: 1px solid ##f5e79e;">
<div class="form-row">
<p>Newsletter is scheduled for sending {% if original.release_date|timeuntil != "0 minutes" %}in {{original.release_date|timeuntil}} {%endif%}on <strong>{{original.release_date}}</strong>.</p>
</div>
</fieldset>
{% endif %}
{% if original.scheduled_status == 'ONGOING' %}
<fieldset class="module" style="background-color: #fcf8e3; color: #8a6d3b; border: 1px solid ##f5e79e;">
<div class="form-row">
<p>Newsletter is being uploaded and will be scheduled for sending, this will take a few minutes.</p>
</div>
</fieldset>
{% endif %}
{% endif %}
<fieldset style="border: 0; width: 220px; float: right;" class="module aligned">
<div>
    <div align="center" style="margin-top: 15px;">
    {% if original.resource_thumbs %}<img src="{{ original.resource_thumbs.url }}" />
    {% else %}
    No preview available
    {% endif %}
    </div>
</div>
</fieldset>
{% endblock %}
