<p>Thank you for your interest in our outreach products! We are happy to inform you that your application for
a free order code has been approved. However, please limit your order to reasonable amounts and please note your
final product order is subject to an evaluation and we reserve the right to change or cancel it - especially if the
free order exceeds a value of 180 EUR of merchandise. Please note the order cannot exceed 31.5 kg.</p>

<ol><li>Please go to the {{shop.store_name}} (<a href="http://{{site_url}}{% url 'satchmo_shop_home' %}">http://{{site_url}}{% url 'satchmo_shop_home' %}</a>) and place your order:
<ul><li>Add the requested free products to your shopping cart.</li>
<li><strong>Note:</strong> All products which are available for free are clearly marked with the blue sign stating "EDUCATORS".</li>
<li>You may add products that are not free to your cart together with the free products, however upon checkout you
will need to pay the full value of all products that are not free. Simply put: <strong>Do not provide your credit card
information unless you want to pay for some of the products</strong>.</li>
<li>Your shopping cart will show the total price of all products, but upon checkout the free products will be subtracted.</li>
<li>You will need to pay only the full value of all products that are not free.</li></ul>
</li>
<li>Once you have filled your shopping cart, please proceed to checkout and provide the following discount code in checkout step 1<br/><br/>
<strong>Discount code: {{order.discount_code}}</strong> (valid for 30 days)<br/><br/></li>
<li>If you have added any products that are not free to your shopping cart, you will be asked to provide credit card information in checkout
step 2, otherwise you will be directed straight to checkout step 3. Please note that due to ESO's diplomatic status in Chile, we cannot sell items in Chile. If your free order needs to be delivered in Chile, you cannot include products that are not free in your order.</li>
<li>Finally review your order — <strong>please pay close attention to the TOTAL</strong> — Unless the total value is 0, you will be charged.</li>
</ol>
<p>In case of questions, please visit our Free Order page (<a href="http://{{site_url}}{% url 'free_order_form' %}">http://{{site_url}}{% url 'free_order_form' %}</a>) or contact us (see below).</p>

<p>Thank you for choosing our products. We hope you enjoy them!</p>

We reserve the right to make choices on what to send, especially if the free order exceeds a value of 180 EUR of merchandise.
