<h1>{{ object.title }}</h1>
{% include 'archives/embargo_notice.html' %}
<h2></h2>
{% if object.resource_medium %}
<div class="archive_image">
<div class="image_container">{% if object.resource_screen %}<a href="{{object.resource_screen.url}}" rel="shadowbox" title="{{object}}" />
<img src="{{object.resource_medium.url}}" width="320" border="0" alt="{{object}}" />
<br/><p>Click to Enlarge</p></a>
{% else %}
<img src="{{object.resource_medium.url}}" width="320" border="0" alt="{{object}}" />
{% endif %}
</div>
</div>
{% endif %}
<p>{{ object.description|safe }}</p>
{% comment %}
We don't display the "not available for sale" message for calendars as we
have individual archive items for each months, and though it's not possible
to buy a single month, we don't want people to think that the whole calendar
is not available for sale
{% endcomment %}
{% if not object.sale and archive|title|lower != "calendar" %}
<p>This {{archive|title|lower}} is not available for sale.</p>
{% endif %}
{% include 'archives/extra_description.html' %}
{% include 'archives/credit.html' %}
{% include 'archives/extra_footer.html' %}
