{% extends "admin/base_site.html" %}
{% load admin_list i18n %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  <script type="text/javascript" src="../../jsi18n/"></script>
  {{ media }}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="{% url 'admin_site:index' %}">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url 'admin_site:app_list' app_label %}">{{ app_label|capfirst|escape }}</a> &rsaquo;
     <a href="{% with changelist_view="admin_site:"|add:opts.app_label|add:"_"|add:opts.model_name|add:"_changelist" %}{% url changelist_view %}{% endwith %}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {% trans "Import files" %}
</div>
{% endif %}{% endblock %}

{% block coltype %}flex{% endblock %}


{% block extrahead %}
{{redirect}}
{% endblock%}

{% block content %}
  <div id="content-main">
    {% if file_upload_form.errors %}
        <p class="errornote">
         Please correct the {% blocktrans count formset.errors|length as counter %}error{% plural %}errors{% endblocktrans %} below.
        </p>
       <ul class="errorlist">{% for error in formset.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="module">
        <h2>Upload new file</h2>

        <table width="100%">
        {{ file_upload_form.as_table }}
        </table>

    </div>

    <div class="submit-row">
        <input type="submit" value="Upload" class="default">
    </div>
    </form>
    {% endif %}

</div>
{% endblock %}
