BeautifulSoup4
django-ace == 1.0.4
django-mptt == 0.9.1
django-recaptcha == 1.4.0
djangorestframework == 3.9.1  # Used for pages fixed version as 3.6 causes conflict with collectstatic
django-signals-ahoy  # Used by satchmo/models.py
django-redis
google-api-python-client == 1.7.4
html2text == 3.200.3
htmllaundry
icalendar == 3.8
ipython == 5.10.0  # Last version compatible with Python 2.7 and 3.8
Pillow
pycountry == 1.16
ephem == 3.7.6.0
pysftp               # Used for contentserver
python-dateutil
python-memcached == 1.59
python-xmp-toolkit == 2.0.1
pytz
requests
ndg-httpsclient  # Extra for requests
setuptools
Wand == 0.4.4
piexif
pika == 1.2.1
openpyxl
django-tinymce4-lite == 1.7.2

# JSMin latest version doesn't support Python 2
# fix error in admin unicode argument expected, got 'str'
jsmin==2.2.2

# Last version that has dependencies that support python 2.7
oauth2client==1.4.11

# PostgreSQL python client
psycopg2-binary

# Asynchronous Task Queue
celery==4.3.0
vine==1.3.0

# Python 2/3 compatibility library
future

# Asset packaging library for Django
django-pipeline==1.6.14

# Faker
Faker==3.0.1

# The Django Debug Toolbar is a configurable set of panels that display various debug information
django-debug-toolbar==1.11
