{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/login.css" />{% endblock %}
{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block content %}
<div id="content-main">
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}

<form action="" method="post">{% csrf_token %}
{{ form.email.errors  }}
<div class="form-row">
    <label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }}
</div>
<div class="submit-row">
    <input type="submit" value="{% trans 'Reset my password' %}" />
</div>
</form>
</div>
{% endblock %}
{% block nav-global %}{% endblock %}