{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/login.css" />{% endblock %}
{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block content %}
<div id="content-main">
<p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
</div>
{% endblock %}
{% block nav-global %}{% endblock %}