{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/login.css" />{% endblock %}
{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}
<div id="content-main">

{% if validlink %}
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<div class="form-row">
<label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}
</div>
{{ form.new_password2.errors }}
<div class="form-row">
<label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}
</div>
<div class="submit-row">
<input type="submit" value="{% trans 'Change my password' %}" />
</div>
</form>
{% else %}
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}
</div>
{% endblock %}
